google-generativeai
matplotlib
numpy
openai==1.52.2
openpyxl==3.1.2
pandas==2.2.3
Pillow
protobuf
Requests==2.32.3
scikit_learn==1.5.2
seaborn==0.13.2
statsmodels==0.14.4
streamlit==1.39.0
streamlit_cookies_controller==0.0.4
streamlit_cookies_manager==0.2.0
tensorflow
xgboost
